services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
    environment:
      - QDRANT__STORAGE__OPTIMIZERS__DELETED_THRESHOLD=0.5
    restart: always

  api:
    build: .
    container_name: rag_api
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    env_file: .env
    depends_on:
      - qdrant
    restart: always
