-i https://pypi.tuna.tsinghua.edu.cn/simple
fastapi
uvicorn
gunicorn
python-multipart
llama-index-core
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-qdrant
qdrant-client
chonkie
fastembed
python-frontmatter
pydantic
httpx
python-dateutil
cachetools
loguru
tenacity
jinja2
python-dotenv
openai
